mat-card {
    // height: 110px;
    // max-height: 110px;
    // min-height: 50px;
    // // margin: 15px;
    // width: 100%;
    // width: 80%;
    // height: 80%;

    // .col-cont{
    //     wi
    // }
    .mat-cont {
        padding: none;
        width: 16.66%
    }
    .icon-container{
        align-items: center;
        justify-content: center;
        display: flex;        
    }

}