<!-- <div class="container">
    <h2>Components</h2>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="row">
            <div class="col-2" *ngFor="let item of componentList">
                <mat-card routerLink="{{item.path}}">
                    <div class="icon-container">
                        <mat-icon>smart_button</mat-icon>
                    </div>
                    <div class="icon-container">
                        {{item.name}}
                    </div>
                </mat-card>
            </div>      
        </div>
    </div>
</div> -->

<div class="container">
    <h5>Home Component works!</h5>
</div>